.status-label {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;

  &.active {
    background: #46ae59;
  }

  &.waiting {
    background: #fdb53f;
  }

  &.exipired {
    background: #cc292c;
  }

  &.waiting-accepted {
    background: #3a3a3a;
  }
}